@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.feadback_main {
    width: 100%;
    height: auto;
    background-color: #E2EBF0;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feadback_main .heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.feadback_main .sub_heading {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin-bottom: 30px;
}

.feadback_main .reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 90%;
    margin: auto;
}

.reviews .card {
    display: flex;
    align-items: center; 
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    min-height: 140px;
    border: 1px solid #ddd;
}

.card .user_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.card .user_info {
    text-align: left;
    flex-grow: 1;
}

.card .user_name {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.stars {
    display: flex;
    gap: 3px;
    margin-bottom: 5px;
}

.review_text {
    font-size: 14px;
    color: #555;
    text-align: left;
}

.subscribe_section {
    background: #425E6F;
    padding: 20px;
    color: white;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 62%;
}

.subscribe_section p {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.subscribe_section .input_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 5px;
}

.input_container input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.input_container button {
    background: #425E6F;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

.input_container button:hover {
    background: #34495E;
}

@media (max-width: 768px) {
    .feadback_main .reviews {
        flex-direction: column;
        align-items: center;
    }

    .reviews .card {
        width: 100%;
    }

    .subscribe_section {
        flex-direction: column;
        text-align: center;
    }
}
